<div
  class="relative z-[-2] h-auto w-full bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"
>
  <!-- Header Section -->
  <div class="flex justify-center items-center pt-12 px-4">
    <div class="text-center font-extrabold text-4xl bg-gradient-to-b from-green-500 via-yellow-500 to-blue-500 text-transparent bg-clip-text flex items-center flex-wrap">
      ListLens
      <img class="h-8 w-8 ml-4" src="list.png" alt="list image">
    </div>
  </div>

  <!-- Content Section -->
  <div class="pt-10 flex-grow px-4">
    <app-list-data></app-list-data>
  </div>
</div>
